extends layout

block content
  .flexWrapper
    .d-flex.w-100
      .col-3
        .userInterface(style="margin-top:3%")
          nav
            #nav-tab.nav.nav-tabs(role='tablist')
              a#nav-controls-tab.nav-item.nav-link(data-toggle='tab', href='#nav-controls', role='tab') Controls
              a#nav-defaults-tab.nav-item.nav-link(data-toggle='tab', href='#nav-defaults', role='tab' ) Defaults
              a#nav-monitor-tab.nav-item.nav-link.active.show(data-toggle='tab', href='#nav-monitor', role='tab') Monitor
          #nav-tabContent.tab-content
            #nav-controls.tab-pane.fade(role='tabpanel')
              #controlsWrapper
                h4 Control it 
                #controlsContainer
                  .container#flagsContainer
                    .controls
                  .container#timeControl
            #nav-defaults.tab-pane.fade(role='tabpanel')
              .defaultsWrapper
            #nav-monitor.tab-pane.fade.active.show(role='tabpanel')
              #monitorWrapper
                #monitorHeader
                  h4 Click a list item to set its values and view its springs
                #monitorDisplay
                #monitorSprings
                #monitorSetter 
      .col-9#canvasInterface
        .toggler(style="width:100%")
          h1 Very important things
        #canvasContainer
          canvas#plotCanvas( style="display:none;" )
          canvas#springCanvas
      
