extends layout

block content
  .flexWrapper
    .d-flex.w-100
      .col-3
        .userInterface(style="margin-top:3%")
          nav
            #nav-tab.nav.nav-tabs(role='tablist')
              a#nav-controls-tab.nav-item.nav-link(data-toggle='tab', href='#nav-controls', role='tab') Controls
              a#nav-defaults-tab.nav-item.nav-link(data-toggle='tab', href='#nav-defaults', role='tab' ) Defaults
              a#nav-monitor-tab.nav-item.nav-link.active.show(data-toggle='tab', href='#nav-monitor', role='tab') Monitor
          #nav-tabContent.tab-content
            #nav-controls.tab-pane.fade(role='tabpanel')
              #controlsWrapper
                h4 Control it 
                #controlsContainer
                  .container#flagsContainer
                    .controls
                  .container#timeControl
            #nav-defaults.tab-pane.fade(role='tabpanel')
              #defaultsWrapper
            #nav-monitor.tab-pane.fade.active.show(role='tabpanel')
              #monitorWrapper
                #monitorHeader
                  h4 Click a list item to set its values and view its springs
                #monitorDisplay
                #monitorSprings
                #monitorSetter 
      .col-9#canvasInterface
        .row
          .col-sm-3
            .toggler
              .btn-group.btn-group-toggle(data-toggle='buttons')
                label#toggleSpringCanvas.btn.btn-primary.active
                  input#springCanvasToggle(type='radio', name='options', autocomplete='off', checked='')
                  |  Design Canvas
                label#togglePlotCanvas.btn.btn-primary
                  input#plotCanvasToggle(type='radio', name='options', autocomplete='off')
                  |  Plotter
          .col-sm-3
            .input-group.input-group.mb-3
              .input-group-prepend
                span#inputGroup-sizing.input-group-text Frame
              input.form-control#frameSetter(type='text', aria-label='Small', aria-describedby='inputGroup-sizing-sm' value="0")
          .col-sm-3
            input#toggleAnimation.btn.btn-primary(type='button', value='Toggle Animation')
          .col-sm-3
            input#resetSystem.btn.btn-primary(type='button', value='Reset System')


        #canvasContainer
          canvas#plotCanvas( style="display:none;" )
          canvas#springCanvas( tabindex=1 )
      
