/* if you are looking at this file dont worry, I hate it too and am soon leveling up my css */
body {
  margin: 0px;
  /* overflow: hidden; */
  font-family: Sans-Serif;
}
#defaultsWrapper {
  overflow-y: scroll;
}
/* height is set in js... need to levelup my css html; */
#monitorDisplay {
  overflow-y: scroll;

}
#toggleSpringCanvas:focus {
  box-shadow: none;
}
#togglePlotCanvas:focus {
  box-shadow: none;
}
#monitorSetter {
  margin-top: 5%; 
}
.learningCanvas {
  /* border : 1px solid black; */
  /* cursor : url('./circleCursor.png'), auto; */
}

#springCanvas {
  /* border : 1px solid green; */
  /* margin-top: 2%; */
  /* cursor : url('./circleCursor.png'), auto; */
}

#plotCanvas {
  border : 1px solid black;
  /* margin-left: 2%; */
  /* margin-top: 2%; */
  /* cursor : url('./circleCursor.png'), auto; */
}

#canvasContainer {
  /* border : 1px solid red; */
  /* cursor : url('./circleCursor.png'), auto; */
}

#canvasInterface {
  /* border : 1px solid red; */
  margin-top: 1%;
  /* cursor : url('./circleCursor.png'), auto; */
}

.hideControls {
  display: none;
}


.header {
  /* border : 1px solid red; */
  height : 10%;
  text-align: center;
  padding-top: 5%;
}
#controlPanel {
  /* border: 1px solid blue; */
  overflow: hidden;
}
#controlsWrapper {
  overflow: hidden;
}

#controlsWrapper {
  /* border: 1px solid blue; */
}

#toggleControlPanel {
  margin-top : 2%;
}

#controlsContainer {
  max-height: 80%;
  margin-top : 3%;
  /* overflow-y: hidden; */
  /* overflow-y : scroll; */
}


.controls {
  height : 100%;
  width : 100%;
  overflow-y: hidden;
  margin-top : 3%;
}
